<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cabang</title>
  <link rel="icon" href="images/logo-web.png">
  <link rel="stylesheet" href="/css/cabang.css" />
  <script src="js/cabangAdmin.js" defer></script>

</head>

<body>
  <%- include('sidebarMember')%>
    <main>
      <header>
        <div class="profile">
          <%- include('profile') %>
        </div>
      </header>
      <div class="container">
        <h3>
          Selamat datang <%= dataSession %> <br />
            pilih cabang terlebih dahulu
        </h3>
        <div class="filter-kota">
          <i class="fa-solid fa-filter" style="color: #ffffff;"></i>
          <p>Kota :</p>
          <select name="dropdownKota" id="dropdownKota">
            <option selected>Semua</option>
            <% let j=1%>
              <% for(let row of dataKota){ %>
                <option value="<%= row.nama_kota %>">
                  <%= row.nama_kota %>
                </option>
                <% }%>
          </select>
        </div>

        <table>
          <thead>
              <tr>
                  <th>No</th>
                  <th>Nama</th>
                  <th>Alamat</th>
                  <th>Kota</th>
                  <th>Aksi</th>
              </tr>
          </thead>

          <tbody>
              <% let i=1 %>
              <% for(let row of dataCabang) { %>
                  <tr>
                      <td><%= i %></td>
                      <td><%= row.nama %></td>
                      <td><%= row.alamat %></td>
                      <td><%= row.nama_kota %></td>
                      <td>
                        <form action="/reservasi/<%= row.no_cabang %>" method="POST">
                          <button>Pilih</button>
                        </form>
                      </td>
                  </tr>
                  <% i++ %>
              <% } %>
          </tbody>
      </table>

      </div>
    </main>
</body>

</html>