<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>history</title>
  <link rel="stylesheet" href="/css/historiReservasi.css" />
  <script src="https://kit.fontawesome.com/985f81e0fc.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="sidebar">
    <%- include('sidebarMember') %>
  </div>

  <div class="profile">
    <%- include('profile') %>
  </div>

  <div class="container">
    <table>
      <thead>
        <tr>
          <th>No Reservasi</th>
          <th>Tanggal</th>
          <th>Waktu Kedatangan</th>
          <th>Nama Cabang</th>
        </tr>
      </thead>
  
      <tbody>
        <% for(let row of dataHistori) { %>
          <tr>
            <td><%= row.no_reservasi %></td>
            <td><%= row.tanggal.toLocaleDateString() %></td>
            <td>Pukul <%= row.waktu_kedatangan %></td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
</body>

</html