<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Baru</title>
    <link rel="icon" href="images/logo-web.png">
    <link rel="stylesheet" href="css/kelola_cabang.css">
    <script src="https://kit.fontawesome.com/985f81e0fc.js" crossorigin="anonymous"></script>
    <script src="js/cabangAdmin.js" defer></script>

</head>

<body>
    <div class="sidebar">
        <%- include('sidebar') %>
    </div>

    <div class="profile">
        <%- include('profile') %>
    </div>

    <div class="container">

        <div class="filter-kota">
            <i class="fa-solid fa-filter" style="color: #ffffff;"></i>
            <p>Kota :</p>
            <select name="dropdownKota" id="dropdownKota">
                <option selected>Semua</option>
                <% let j=1%>
                    <% for(let row of dataKota){ %>
                        <option value="<%= row.nama_kota %>">
                            <%= row.nama_kota %>
                        </option>
                        <% }%>
            </select>
        </div>

        <button class="btn-tambah" data-target="#tambah">Tambah</button>
        <div class="overlay" id="#tambah">
            <div class="popup">
                <div>
                    <div class="edit modal-header">
                        <p>Tambah Cabang Baru</p>
                    </div>
                    <div class="form">
                        <form method="post" action="/tambahCabang" enctype="multipart/form-data">
                            <p>Nama</p>
                            <div class="input-form">
                                <i class="fa-solid fa-file-signature" style="color: #000000;"></i>
                                <input type="text" name="namaCabang" placeholder="Masukkan nama cabang" required>
                            </div>

                            <p>Alamat</p>
                            <div class="input-form">
                                <i class="fa-solid fa-address-card" style="color: #000000;"></i>
                                <input type="text" name="alamatCabang" placeholder="Masukkan alamat" required>
                            </div>

                            <p>Kota</p>
                            <div class="input-form">
                                <i class="fa-solid fa-city" style="color: #000000;"></i>
                                <select name="pilihKota" id="dropdownTambahKota">
                                    <option disabled selected>Pilih kota</option>
                                    <% for(let row of dataKota){ %>
                                        <option value="<%= row.nama_kota %>">
                                            <%= row.nama_kota %>
                                        </option>
                                        <% }%>
                                </select>
                            </div>

                            <p>Gambar Cabang</p>
                            <div class="input-form">
                                <i class="fa-solid fa-image" style="color: #000000;"></i>
                                <input type="file" name="gambarCabang" accept="image/*">
                            </div>

                            <div class="alert">
                                <p>
                                    <%= //isExist %>
                                </p>
                            </div>

                            <div class="footer-modal">
                                <button class="btn-edit">Simpan</button>
                                <button type="button" class="btn-batal close" data-target="#tambah">Batal</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>Kota</th>
                    <th>Aksi</th>
                </tr>
            </thead>

            <tbody>
                <% let i=1 %>
                <% for(let row of dataCabang) { %>
                    <tr>
                        <td>
                            <%= i %>
                        </td>
                        <td>
                            <%= row.nama %>
                        </td>
                        <td>
                            <%= row.alamat %>
                        </td>
                        <td>
                            <%= row.nama_kota %>
                        </td>
                        <td>
                
                            <a class="btnEdit" data-target="#bukaModal<%= row.no_cabang %>"><i class="fa-regular fa-pen-to-square fa-lg"
                                    style="color: #000000;"></i></a>
                            <div class="overlay" id="#bukaModal<%= row.no_cabang %>">
                                <div class="popupEdit">
                                    <div>
                                        <div class="edit modal-header">
                                            <p>Edit Data Cabang</p>
                                        </div>
                                        <div class="form">
                                            <form method="post" action="/editCabang/<%= row.no_cabang %>">
                                                <p>Nama</p>
                                                <div class="input-form">
                                                    <i class="fa-solid fa-file-signature" style="color: #000000;"></i>
                                                    <input type="text" name="nama" value="<%= row.nama %>" required>
                                                </div>
                
                                                <p>Alamat</p>
                                                <div class="input-form">
                                                    <i class="fa-solid fa-address-card" style="color: #000000;"></i>
                                                    <input type="text" name="alamat" value="<%= row.alamat %>" required>
                                                </div>
                
                                                <p>Kota</p>
                                                <div class="input-form">
                                                    <i class="fa-solid fa-city" style="color: #000000;"></i>
                                                    <select name="editKota" id="dropdownTambahKota">
                                                        <option selected>
                                                            <%= row.nama_kota %>
                                                        </option>
                                                        <% let current=row.nama_kota %>
                
                
                                                            <% for(let row of dataKota){ %>
                                                                <% if (row.nama_kota !=current){ %>
                                                                    <option value="<%= row.nama_kota %>">
                                                                        <%= row.nama_kota %>
                                                                    </option>
                                                                    <% } %>
                
                                                                        <% }%>
                                                    </select>
                                                </div>
                
                                                <div class="footer-modal">
                                                    <button class="btn-edit">Simpan</button>
                                                    <button type="button" class="btn-batal close"
                                                        data-target="#bukaModal<%= row.no_cabang %>">Batal</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% i++ %>
                <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>