<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Baru</title>
    <link rel="icon" href="images/logo-web.png">
    <link rel="stylesheet" href="css/member_baru.css">
    <script src="https://kit.fontawesome.com/985f81e0fc.js" crossorigin="anonymous"></script>
    <script src="js/memberBaru.js" defer></script>

</head>

<body>
    <div class="sidebar">
        <%- include('sidebar') %>
    </div>

    <div class="profile">
        <%- include('profile') %>
    </div>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Username</th>
                    <th>Nomor HP</th>
                    <th>Alamat</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            
            <tbody>
                <% let i = 1 %>
                <% for(let row of dataMember) { %>
                    <tr>
                        <td><%= i %></td>
                        <td><%= row.nama %></td>
                        <td><%= row.username %></td>
                        <td><%= row.no_hp %></td>
                        <td><%= row.alamat %></td>
                        <td>
                            
                            <a class="btnEdit" data-target="#bukaModal<%= row.username %>"><i class="fa-solid fa-circle-check fa-xl" style="color: green;"></i></a>
                            <div class="overlay" id="#bukaModal<%= row.username %>">
                                <div class="popup">
                                    <div>
                                        <div class="edit modal-header">
                                            <p>Apakah Anda akan menerima member ini?</p>
                                        </div>
                                        <div class="form">
                                            <form method="post" action="/tambah/<%= row.username %>">
                                                <div class="data-box">
                                                    <div class="data-form">
                                                        <p>Nama :</p>
                                                        <p><%= row.nama %></p>
                                                    </div>
    
                                                    <div class="data-form">
                                                        <p>Username :</p>
                                                        <p><%= row.username %></p>
                                                    </div>
                                                    <div class="data-form">
                                                        <p>Nomor HP :</p>
                                                        <p><%= row.no_hp %></p>
                                                    </div>
                                                    <div class="data-form">
                                                        <p>Alamat :</p>
                                                        <p><%= row.alamat %></p>
                                                    </div>
                                                </div>
                                                <div class="footer-modal">
                                                    <button class="btn-edit">Terima</button>
                                                    <button type="button" class="btn-batal close" data-target="#bukaModal<%= row.username %>">Batal</button>
                                                </div>
                                            </form>
                            
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                            </div>

                            <a href="/tolak/<%= row.username %>" class="btnReject" data-target="#reject<%= row.username %>"><i class="fa-solid fa-circle-xmark fa-xl" style="color: red;"></i></a>
                            
                            
                        </td>
                    </tr>
                    <% i++ %>
                <% } %>
            </tbody>
        </table>
    </div>

</body>
</html>