<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reservasi</title>
  <link rel="icon" href="images/logo-web.png">
  <link rel="stylesheet" href="css/reservasi.css">
  <script src="js/reservasi.js" defer></script>

</head>

<body>
  <div class="sidebar">
    <%- include('sidebarMember') %>
  </div>

  <div class="profile">
    <%- include('profile') %>
  </div>

  <div class="container">
    <div class="title">
      <% for(let row of dataPilihCabang) { %>
        <p>Cabang</p>
        <p>
          <%= row.nama %>
        </p>
        <% } %>
    </div>
    <% for(let row of dataPilihCabang) { %>
      <form action="/buatReservasiSpa/<%= row.nama %>" method="POST">
        <div class="dateBox">
          <div class="tanggal">
            <p>Tanggal :</p>
            <div class="box">
              <input type="date" id="tanggal" name="tanggal" required />
            </div>
          </div>

          <div class="jam">
            <p>Jam :</p>
            <div class="box">
              <input type="time" id="jam" name="jam" min="09:00" max="22:00" step="00:10" required />
            </div>
          </div>
        </div>

        <div class="layanan">
          <p class="title">Pilih Layanan</p>
          <div class="layananBox">
            <div class="box">
              <p class="title">Spa</p>
              <div class="masker">
                <p>Masker</p>
                <select name="dropdownMasker" id="dropdownMasker">
                  <option selected value="">Pilih masker</option>
                  <% for (let dataM of dataMasker){ %>
                    <option value="<%= dataM.nama_masker %>">
                      <%= dataM.nama_masker %>
                    </option>
                    <% }%>
                </select>
              </div>
              <div class="scrub">
                <p>Scrub</p>
                <select name="dropdownScrub" id="dropdownScrub">
                  <option selected value="">Pilih scrub</option>
                  <% for (let dataS of dataScrub){ %>
                    <option value="<%= dataS.nama_scrub %>">
                      <%= dataS.nama_scrub %>
                    </option>
                    <% }%>
                </select>
              </div>
            </div>
            <div class="box">
              <p class="title">Body Massage</p>
              <div class="body_massage">
                <p>Oil</p>
                <select name="dropdownOil" id="dropdownOil">
                  <option selected value="">Pilih oil</option>
                  <% for (let dataO of dataOil){ %>
                    <option value="<%= dataO.oil %>">
                      <%= dataO.oil %>
                    </option>
                    <% }%>
                </select>
              </div>
            </div>
            <div class="box">
              <p class="title">Refleksi</p>
              <div class="content">
                <p>Refleksi adalah metode terapi yang menggunakan tekanan pada titik-titik tertentu pada kaki, tangan dan telinga untuk mempengaruhi organ dan bagian tubuh lainnya. </p>
                <div class="checkbox">
                  <input type="checkbox" value="refleksi" name="refleksi" id="checkboxRefleksi">
                  <label>Pilih refleksi</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="btn-reservasi">
          <button>Reservasi Sekarang</button>
        </div>
      </form>
    <% } %>
  </div>
</body>

</html>